header.section-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.articles,
.portfolio {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 20px;

  @media only screen and (max-width: 1024px) {
    article {
      flex-basis: 50%;
    }

    article:nth-child(2n+1) .article-tile-container {
      margin-left: 0;
    }

    article:nth-child(2n) .article-tile-container {
      margin-right: 0;
    }
  }

  @media only screen and (min-width: 1025px) {
    article:nth-child(3n+1) .article-tile-container {
      margin-left: 0;
    }

    article:nth-child(3n) .article-tile-container {
      margin-right: 0;
    }

    article {
      flex-basis: 33.33%;
    }
  }

  .article-tile-container {
    padding: 20px;
    background-color: white;
    border: 1px solid #bbb;
    margin: 0 10px;
  }
}

article .thumbnail img {
  width: 100%;
  height: auto;
}

h2,
p {
  margin-bottom: 10px;
}
