header.section-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

article .thumbnail img {
  width: 100%;
  height: auto;
}

h2,
p {
  margin-bottom: 10px;
}
