aside.sidebar {
  background-color: white;
  flex: 1 0 275px;
  overflow-y: scroll;
}

.sidebar-container {
  margin: 30px;
}

.name-stacked {
  h1 {
    z-index: 5;
    position: relative;
    margin: 15px 0;
    margin-top: -45px;
  }

  .grey-square {
    height: 45px;
    width: 45px;
    background-color: $background-grey;
  }
}

.description {
  margin-top: 40px;
}

.sidebar-section {
  margin: 25px 0;

  h3 {
    margin: 6px 0;
  }
}

.social-icons {
  margin: 30px 0;
}

a:hover > h3 {
  background-color: $background-grey;
}
