html {
  background-color: $background-grey;
  height: 100%;
  margin: 0 !important;
}

body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  max-width: 1280px;
}

[role=document] {
  height: 100%;
  display: flex;
}

main {
  padding: 0 25px;
  overflow: scroll;
  margin-top: 30px;
}

aside {
  background-color: white;
  width: 300px; /* Set the width of the sidebar */
}

header.banner {
  display: block;

  @media only screen and (min-width: 600px) {
    display: none;
  }
}

.articles,
.portfolio {
  display: flex;

  article {
    flex-basis: 33.33%;
    padding: 20px;
    background-color: white;
    border: 1px solid #bbb;
    margin: 0 10px;
  }

  article:first-of-type {
    margin-left: 0;
  }

  article:last-of-type {
    margin-right: 0;
  }
}

article .thumbnail img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a {
  font-family: 'Fira Mono', monospace;
  font-weight: normal;
  color: #252525;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

